// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––

.full-width {
  width: 100%;
}

.max-full-width {
  max-width: 100%;
}

.pull-right,
.right {
  float: right;
}

.pull-left,
.left {
  float: left;
}

.center {
  text-align: center;
}

.fixed {
  position: fixed;
}

// Clearing
//––––––––––––––––––––––––––––––––––––––––––––––––––

.container:after,
.row:after,
.clearfix:after,
.cf:after {
  content: "";
  display: table;
  clear: both;
}
