// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile:     "min-width: 400px" !default;
$bp-larger-than-phablet:    "min-width: 550px" !default;
$bp-larger-than-tablet:     "min-width: 750px" !default;
$bp-larger-than-desktop:    "min-width: 1000px" !default;
$bp-larger-than-desktophd:  "min-width: 1200px" !default;

// Colors
$light-grey:                #e1e1e1 !default;
$dark-grey:                 #333 !default;
$primary-color:             #33c3f0 !default;
$secondary-color:           lighten($dark-grey, 13.5%) !default;
$border-color:              #bbb !default;
$link-color:                #1eaedb !default;
$font-color:                #222 !default;

// Typography
$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//Grid Variables
$container-max-width: 1200px !default;
$container-width-larger-than-mobile: 95% !default;
$container-width-larger-than-phablet: 90% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default;
$column-margin: 1% !default; // space between columns

// Misc
$border-radius: 4px !default;


// Nav Bar
$navbar-height: 50px !default;
$navbar-bg-color: #ff0 !default;

$navbar-brand-color: #000 !default;
$navbar-brand-tld-color: #555 !default;
$navbar-brand-font-size: $navbar-height/2 !default;
$navbar-brand-padding-top: 3px !default;

$navbar-menu-font-size: 15px !default;
$navbar-menu-padding-top: 3px !default;
$navbar-menu-link-color: #000 !default;
$navbar-menu-link-hover-color: #ff0 !default;
$navbar-menu-link-hover-bg-color: #000 !default;
