// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button {
  display: inline-block;
  height: $button-height;
  padding: 0 30px;
  color: $secondary-color;
  text-align: center;
  font-size: $button-font-size;
  font-weight: 600;
  line-height: $button-height;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $dark-grey;
    border-color: lighten($dark-grey, 33.3%);
    outline: 0;
  }

  &.button-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover,
    &:focus {
      color: #fff;
      background-color: $link-color;
      border-color: $link-color;
    }
  }
}

input {
  &[type="submit"],
  &[type="reset"],
  &[type="button"] {
    display: inline-block;
    height: $button-height;
    padding: 0 30px;
    color: $secondary-color;
    text-align: center;
    font-size: $button-font-size;
    font-weight: 600;
    line-height: $button-height;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: $border-radius;
    border: 1px solid $border-color;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $dark-grey;
      border-color: lighten($dark-grey, 33.3%);
      outline: 0;
    }

    &.button-primary {
      color: #fff;
      background-color: $primary-color;
      border-color: $primary-color;

      &:hover,
      &:focus {
        color: #fff;
        background-color: $link-color;
        border-color: $link-color;
      }
    }
  }
}
