// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

textarea,
select {
  padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
  background-color: #fff;
  border: 1px solid lighten($border-color, 8.8%);
  border-radius: $border-radius;
  box-shadow: none;

  &:focus {
    border: 1px solid $primary-color;
    outline: 0;
  }
}

select {
  height: $button-height;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
}


input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; // Removes awkward default styles on some inputs for iOS

    height: 38px;
    padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
    background-color: #fff;
    border: 1px solid lighten($border-color, 8.8%);
    border-radius: $border-radius;
    box-shadow: none;

    &:focus {
      border: 1px solid $primary-color;
      outline: 0;
    }
  }
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

fieldset > label {
  font-weight: normal;
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    display: inline;
    vertical-align: middle;
  }
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

form.horizontal {
  height: $button-height;
  line-height: $button-height;

  label {
    display: inline-block;
    margin-right: 10px;
  }
}

.help {
  display: block;
  padding: 8px 0 4px 0;
  font-size: 1.25rem;
}

.error {
  color: $error-color;

  input,
  textarea,
  select {
    color: $error-color;
    border-color: $error-color;
    &:focus {
      border: 2px solid $error-color;
    }
  }
  ::-webkit-input-placeholder {
    color: $light-error-color;
  }
  :-moz-placeholder {
    color: $light-error-color;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: $light-error-color;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: $light-error-color;
  }
}
