// Lists
//––––––––––––––––––––––––––––––––––––––––––––––––––

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  ul, ol {
    margin: 1rem 0 1rem 1.5rem;
    font-size: 90%;
  }
}

ol {
  ol, ul {
    margin: 1rem 0 1rem 1.5rem;
    font-size: 90%;
  }
}

li {
  margin-bottom: 1rem;
}

dl {
  dt {
    font-weight: bold;
    display: inline-block;
    float: left;
    margin-right: 10px;
  }
  dd {
    display: block;
    margin: 0;
  }
}
