// Navigation
// ------------------------------------------

nav {
  height: $navbar-height;
  line-height: $navbar-height;
  overflow: hidden;

  background: $navbar-bg-color;

  .brand,
  .menu {
    height: $navbar-height;
    display: inline-block;
    float: left;
    &.right {
      float: right;
    }
  }

  .brand,
  a.brand {
    margin-right: 20px;
    padding-top: $navbar-brand-padding-top;
    font-size: $navbar-brand-font-size;

    color: $navbar-brand-color;
    font-weight: bold;
    text-decoration: none;

    .tld {
      font-weight: normal;
      color: $navbar-brand-tld-color;
    }

    :hover {
      text-decoration: none;
    }
  }

  .menu a {
    padding: $navbar-menu-padding-top 10px 0 10px;
    white-space: nowrap;
    display: inline-block;

    text-transform: uppercase;
    text-decoration: none;

    color: $navbar-menu-link-color;

    font-size: $navbar-menu-font-size;
    &::first-letter {
      font-size: $navbar-menu-font-size + 2;
    }

    &.active {
      text-decoration: underline;
    }

    &:hover {
      color: $navbar-menu-link-hover-color;
      background-color: $navbar-menu-link-hover-bg-color;
      transition: .5s;
    }
  }

  &.padded {
    padding: 0 $navbar-height/3;
  }
}

.fixed-nav-top header > nav:first-of-type {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
