// Tables
//––––––––––––––––––––––––––––––––––––––––––––––––––

table {
  border-spacing: 0;

  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid $light-grey;
  }

  tbody tr {
    &:nth-child(2n+2) {
      background-color: lighten($light-grey, 10%);
    }
    &:hover {
      background-color: lighten($light-grey, 5%);
    }
  }
}
